.app-header {
    &__logo {
        padding-inline-start: 1.6rem;
        padding-inline-end: 1.6rem;
        height: 64px;
        display: flex;
        align-items: center;

        &-text {
            margin-left: 8px;
        }
    }
}
